body { 
  background-color: #ffffff;
  margin-left:  1%; 
  margin-right: 1%; 
  font-family: serif;
  font-size: 11pt;
}

h1 { font-size: 24pt; color: #0000ff; margin-bottom: 0pt; margin-top: 0pt; }
h2 { font-size: 18pt; color: #0000ff; }
h3 { font-size: 14pt; color: #0000ff; }
h4 { font-size: 12pt; }
h5 { font-size: 12pt; }
h6 { font-size: 12pt; }

ul {padding-left: 1.6em; }
li {margin-top: 0.5em; margin-bottom: 0.5em; }

pre { 
  font-family: monospace;
  /* font-size: 11pt; */ 
}

tt { 
  font-family: monospace; 
  /* font-size: 11pt; */ 
}

p.indented { margin-left: 3%; }

tr { vertical-align: top; }
th { text-align: left; }

div { 
  font-family: serif; 
  /* font-size: 11pt; */ 
}

div.sub {
  margin-left: 1.2em;
}

span.sub {
  margin-left: 1.2em;
}

div.nowrap { whitespace: nowrap; }

.white { color: white; }
.red   { color: red; }
.blue  { color: blue; }

